name: Build Dylib
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          curl -LO https://github.com/theos/sdks/raw/master/iPhoneOS14.5.sdk.tar.xz
          mkdir -p ~/theos/sdks
          tar -xf iPhoneOS14.5.sdk.tar.xz -C ~/theos/sdks
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Build
        run: |
          make package FINALPACKAGE=1
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: MyCheat
          path: packages/*.deb
