name: Build Dylib
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Theos
        uses: p035fd/setup-theos@master
      - name: Build Dylib
        run: |
          make package FINALPACKAGE=1
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyCheat-Dylib
          path: packages/*.deb
